/*
seletores de elementos -> especificam como a tag sera exibida
seletores de classes -> pode possuir qqr nome e pode ser aplicado a diversos elementos diferentes
seletores de ID -> aplicado a qqr tag do html, mas somente a um elemento da pagina 
Propriedades para fontes:
color -> cor 
font-family -> tipo 
font-size -> tamanho
font-style -> estilo 
font-variant -> fonte maiscula de menor altura
font-weight -> quanto mais escura a fonte é
font -> abreviação
*/
body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
    background: url(/src/imagens/wowLegion.jpg) center fixed;
}
header {
    text-align: center;
}
.logoTop {
    position: fixed;
    top: -1em;
    right: 1rem;
    width: 120px;
    height: 100px;
    background: url(/src/imagens/wowhead.png) top right;
    background-size: cover;
    z-index: 1000;
}
.wowzinho span {
    /* text-align: center; */
    font-variant: small-caps;
    background-color: rgba(244, 165, 96, 0.842);
    text-decoration: overline;
}

.wowExplicacao span {
    background-color: rgba(245, 153, 33, 0.678);
    margin: 5px;
}

nav {
    border-style: double;
    background-color: rgba(211, 211, 211, 0.774);
    border-color: antiquewhite;
    margin: 5px;
    /* text-align: left;  */
}

.listinha {
    list-style-type: lower-alpha;
    /* display: flex; */
}
/* .wrapper{
    display: flex; 
    width: 100%;
    height: 30rem;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
} */
/* .logoNav{ 
    position: fixed;
    top: 80px;
    right: 70px;
    width: 100px; 
    height: 100px; 
    background: url(/src/imagens/dog-nose.png) right;
    background-size: cover; 
    z-index: 1000;
}  */
.tituloArtigo {
    /* text-align: center; */
    text-shadow: 2px 2px 1px rgba(244, 165, 96, 0.596);
    font-variant: small-caps;
    padding-bottom: 20px;
}

.ListaDG,
.ListaBoss {
    list-style-type: square;
    color: rgb(13, 44, 185);
    font-variant: small-caps;
    /* background-color: rgba(216, 191, 216, 0.815); */
}
section {
    border-style: dashed;
    border-color: tan;
    margin: 5px;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.226);
}
article {
    margin: 5px;
    padding: 40px;
    background-color: rgba(220, 215, 250, 0.664);
}
.art1{
    background-color: aquamarine;
    color: antiquewhite;
    padding: 25px;
    text-align: center;
    
}
.art1:hover{
    background-color: brown;
}

.menuClasses{
    background-color: rgba(220, 215, 250, 0.664);
    border-style: double;
    margin: 5px;
    padding: 10px;
}
/* .tituloMenuClasses{
    text-align: center;
    font-variant: small-caps;
} */
.listaClasses{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    overflow: hidden;
    /* border-style: solid; */
    background-color: rgba(8, 96, 138, 0.473);    
}
.menuLI{
    float:left;
    }
.menu, .dropbtn {
    display: inline-block;    
    color: rgb(4, 30, 102);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.menu:hover, .dropdown:hover .dropbtn{
    background-color: rgba(218, 173, 157, 0.603);
    color: black;
}
.dropdown {
    display: inline-block;
    text-align: center;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(211, 128, 20, 0.904);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: turquoise;
}
.dropdown:hover .dropdown-content{
    display: block;
}

footer {
    padding: 10px;
    margin: 5px;
    color: rgba(184, 104, 13, 0.719);
    background-color: rgba(236, 226, 226, 0.13);
}
.campoFaleConosco{
    background-color: rgba(250, 235, 215, 0.712);
}
.direitos {
    text-align: center;
    color: black;    
}